!!!
%html
  %head
    %title= "#{@title} - 沖縄映画上映時間一覧"
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=device-width; initial-scale=1.0; user-scalable=1;')
    %meta(name='google-site-verification' content='tDZ9fuKpneSTeb3dDYJEK8rkFSVoyR9WBg78M3g8QwI')
    %link(rel='shortcut icon' href='favicon.ico')
    %link(rel='stylesheet' media='screen' href='/stylesheets/iphone.css')
    %script(src='/scripts/iphone.js')
    %script(src='/scripts/google-analytics.js')

  %body#metal
    %div#header
      %h1= @title
      %a#backButton(href='/') Back

    %ul
      - @schedule_list.each do |schedule|
        <li><a href='#'>#{schedule.start}<em>#{schedule.screen}</em><small>#{schedule.end}</small></a></li>
